pyTelegramBotAPI~=4.27.0
logging~=0.4.9.6
pydantic_settings
SQLAlchemy~=2.0.41
pydantic~=2.11.5
pydantic-settings~=2.9.1
aiohttp~=3.12.13
PyJWT
httpx
cryptography~=45.0.4
pydantic
sqlalchemy
psycopg2
cryptography
SQLAlchemy-Utils~=0.41.2
asyncio~=3.4.3
requests~=2.32.4
asyncpg
fastapi~=0.115.12
aio-pika~=9.5.5